.slider {
    /* border: 1px solid grey; */
    width: 45vh; 
    height:45vh;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
   
}
.slider-wrapper {
    margin: auto;
    display: flex;
    height: 85%;
    width:  100%;   
}

.yoga-track {
    background-color: rgb(151, 204, 4);
    color: rgb(53, 21, 21);
    padding-bottom: 50px;
}
.noteful {
    background-color: rgb(3, 119, 243); 
    color: white;
    padding-bottom: 50px;
}
.bookmarks {
    background-color: rgb(137, 4, 199); 
    color:white;
    padding-bottom: 50px;
}

.calculator {
    background-color: rgb(109, 231, 225);
    color: rgb(53, 21, 21);
    padding-bottom: 50px;
}
.project-header {
    padding-top: 30px;
}
.project-li {
  padding: 2%;
}
.text {
    padding: 15px;
}

 .li {
     display: inline;
 }

@media (min-width: 600px) {
    .project-li {
        width: 50%;
        margin: auto;
    }
    .slider {
    height: 80vh;
    width:  120vh;
    }
    .project-info {
        margin:auto;
        display: flex;
        justify-content: space-between;
    }
    .text {
        padding: 40px;
    }
    
}
