main {
    font-family: 'Lexend Giga', sans-serif;
}
header {
    background-color:  rgb(3, 62, 114);
    background-color:  rgb(2, 29, 87);
    margin: 0;
    padding: 10px;   
}

a {
    color: rgb(205, 217, 233);
    padding: 10px;
    text-decoration: none;
}

h1,h2,h3,ul,li,section {
    margin: 0;
}
ul {
    list-style-type: none;
}

/* img {
    max-width: 300px;
    display:block;
    margin: auto;
 } */


@media (min-width: 600px){
    /* img {
        max-width: 600px;
        display:block;
        margin: auto;
     } */
}

