.footer{
  text-align: center;
  background-color:  rgb(3, 62, 114);
  background-color:  rgb(2, 29, 87);
}
.mail-link, .phone-icon, .linkedin-link{
    margin: 10px;
}
.phone-icon {
    background-color: transparent;
    border: none;
    color: rgb(205, 217, 233);
    padding: 0;
    cursor: pointer;
    margin: 5px;
  }
  .linkedin-link {
      /* padding: 5px; */
  }