.projects {
    /* background-color: rgb(242, 107, 91); */
}


.projects-header {
    font-family: 'Play', sans-serif; 
    text-align: center;
    color: white;
   
}
.projects-list {
    max-width: 80%;
    margin: auto;
    padding: 0
}


@media (min-width: 600px) {
    .projects {
        padding: 5em;
        /* width: 80%;
        margin: auto; */
    } 
}